.banner {
    box-sizing: border-box;
    background-image: url(../assets/img/photo.png);
    height: 700px;
    background-repeat:no-repeat ;
    background-size: 100%;
    border-bottom: 10px solid black; 
    padding-top: 82px;
    padding-left: 78px;

}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 550px;
} 

.banner .box {
    margin-bottom: 32px;
}


.banner .navigation {
    display: flex;
    justify-content: space-around;
}
