.button { 
    display: inline-block;
    color: white;
    background-color: #F25A70;
    text-decoration: none;
    padding: 18px 20px;
    margin-right: 0;
    border-radius:6%;
    box-shadow: 5px 5px 0px black;

}

.button:hover {
    background-color: #f77f91e4;
    font-weight: bolder;
    border-radius: 8%;

}
