
/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 5rem;
    font-weight: var(--font-medium);
  }
  
  .button:hover {
    background-color: var(--first-color-alt);
    border-bottom: 2px solid rgba(0, 0, 0, 0.66);
  }
  
  .button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
  }
  
  .button--flex{
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
  }
  