
/*========== Variables Dark theme ==========*/
body.active{
  /* HSL color mode */

  /* 
  --title-color: hsl(var(--hue-color), 8%, 95%); 
  --first-color-second: hsl(var(--hue-color), 30%, 8%)
  --input-color: hsl(var(--hue-color), 29%, 16%) 
  */

  --first-color-second: hsl(0deg 0% 100%);
  --title-color: white;
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(238deg 36.63% 20.85%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --footer-color: hsl(238deg 36.63% 20.85%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

body.active h1, h2{
  color: white;
}
  
/*========== Button Dark/Light ==========*/

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  /* margin-right: var(--mb-1); */
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/* show menu 
.show-menu {
  bottom: 0;
}*/

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

.section__title.active{
  color: #ffffff;
}

.footer__bg__dark.active{
  color: var(--footer-color);
}