/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
    .nav__menu{
      padding: 2rem .25rem 4rem;
    }
    .nav__list{
      column-gap: 0;
    }
  
    .home__content{
        grid-template-columns: .25fr 3fr;
        padding-top: 2.5rem;
    }
  
    .home__blob{
      width: 200px;
    }
  
    .skills__title{
      font-size: var(--normal-font-size);
    }
  
}


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3.25rem;
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

