/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {

    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    /* .nav__menu{
      padding: 2rem .25rem 4rem;
    }

    .nav__list{
      column-gap: 0;
    } */
  
    .home__content{
        grid-template-columns: .25fr 3fr;
        padding-top: 2.5rem;
    }
  
    .home__blob{
      width: 200px;
    }
  
    .skills__title{
      font-size: var(--normal-font-size);
    }
  
}


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3.25rem;
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

@media screen and (max-width: 1400px) {

  .about__description{
    padding: 0px 100px;
  }

  .portfolio__icons{
    padding: 5px;
  }

  .portfolio__img{
    width: 250px;
    height: 290px;
  }

  .portfolio__button{
    padding: 10px;
  }
}

@media screen and (max-width: 1242px) {

  .about__description{
    padding: 0px 150px;
  }

  .portfolio__icons{
    padding: 5px;
  }

  .portfolio__button{
    font-size: .9rem;
    padding: 5px;
  }
}

@media screen and (max-width: 1170px) {

  .portfolio__content{
    overflow: initial;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
    margin-bottom: 50px;
  }

  .portfolio__img{
    width: 270px;
    height: 310px;
    border-radius: .5rem;
    justify-self: center;
    padding-right: 15px;
} 

  .swiper-wrapper{
    display: flex;
    flex-direction: column;
  }

  .portfolio__title{
    padding-top: 10px;
  }

  .portfolio__icons{
    padding: 0px;
  }

  .portfolio__button{
    font-size: 1rem;
    padding: 10px;
  }
}