/*==================== MEDIA QUERIES ====================*/


@media screen and (max-width: 1400px) {

  .about__description{
    padding: 0px 100px;
  }
  .about__info-data.years{
    left: 220px;
  }
  .about__info-data.projects{
    left: -220px;
  }

  .skills__container {
    padding: 0px 300px;
  } 

  .portfolio__icons{
    padding: 5px;
  }

  .portfolio__img{
    width: 250px;
    height: 290px;
  }

  .portfolio__img2.large{
    display: none;
  }

  .portfolio__button{
    padding: 10px;
  }

  .portfolio__img2.medium{
    display: flex;
  }

  .cCarousel-item {
    min-width: 15rem;
    margin-right: 1rem;
  }

  .arrow-up {
    height: 30px;
    width: 30px;
  }

  .swiper-wrapper2 {
    grid-template-columns: repeat(3, 33vw);
  }
}

@media screen and (max-width: 1242px) {

  .about__description{
    padding: 0px 150px;
  }

  .portfolio__icons{
    padding: 5px;
  }

  .portfolio__button{
    font-size: .9rem;
    padding: 5px;
  }
}

@media screen and (max-width: 1170px) {

  .skills__container {
    padding: 0px 200px;
  } 

  .portfolio__content{
    overflow: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 550px;
    width: 450px;
    margin-bottom: 50px;
    padding: 10px;
  }

  .portfolio__img{
    width: 250px;
    height: 280px;
    border-radius: .5rem;
    justify-self: center;
    padding-right: 15px;
  } 

  .portfolio__title{
    padding-top: 10px;
  }

  .portfolio__icons{
    padding: 0px;
    justify-content: center;
  }

  .portfolio__button{
    font-size: 1rem;
    padding: 10px;
  }

  .portfolio__page__button {
    margin-top: 0px;
  }

  .swiper-wrapper2 {
    grid-template-columns: repeat(2, 50vw);
  }

  .portfolio__img2.large{
    display: flex;
  }

  .portfolio__img2.medium{
    display: none;
  }

  .portfolio__img2{
    width: 360px;
    height: 280px;
  }
}

@media screen and (max-width: 968px) {

  /* Font size for large devices */
  :root {
    --big-font-size: 3.25rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }

  .swiper-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .portfolio__page__button{
    margin-top: 0px;
  }

  .portfolio__icons{
    justify-content: center;
  }
  .home__title.message{
    font-size: var(--h2-font-size);
  }
}

@media screen and (max-width: 768px) {
  .nav__logo{
    display: none;
  }
  .nav__logo.mobile{
    display: flex;
  }

  .home__blob {
    width: 300px;
  }

  .about__description{
    padding: 0px 100px;
  }

  .skills__container {
    padding: 0px 150px;
  } 

  .contact__div{
    flex-direction: column;
}
}

@media screen and (max-width: 650px) {
  .section {
  padding: 2rem 0 3rem;
  }

  .home__container {
    gap: 2rem;
    padding-top: 4.5rem;
  }

  .home__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__social{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__data {
  padding-top: 20px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .home__blob {
    width: 250px;
  }

  .skills__img {
    max-width: 40px;
    max-height: 40px;
  }

  .certf-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
/* For small devices */
@media screen and (max-width: 500px) {

  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__link{
    padding: 0px 10px;
    font-size: .8rem;
  }

  .home__content{
    grid-template-columns: .25fr 3fr;
    padding-top: rem;
  }

  .home__blob{
    width: 230px;
  }

  .home__title.message{
    font-size: var(--h2-font-size);
  }

  
  .about__description{
    padding: 0px 10px;
  }

  .skills__container {
    padding: 0px 50px;
  }

  .skills__title{
    font-size: var(--normal-font-size);
  }

  .skills__list{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
  }

  .portfolio__content{
    height: 520px;
    width: 360px;
    margin: 20px 0px;
  }

  .portfolio__img{
    width: 210px;
    height: 320px;
  } 
  .portfolio__img2{
    width: 300px;
    height: 320px;
  } 

  .contact__content{
    width: 70vw;
  }

  .button--flex{
    padding: 12px;
    font-size: .9rem;
  }
}

@media screen and (max-width: 365px) {

  .home__blob{
    width: 200px;
  }

  .portfolio__content{
    height: 520px;
    width: 320px;
    margin: 15px 0px;
  }
  .portfolio__img2{
    width: 280px;
    height: 320px;
  } 
}