
/*==================== PORTFOLIO ====================*/

.swiper-wrapper{
    display: flex;
}

.portfolio__container{
    overflow: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__content{
    padding: 0 1.5rem;
    width: 40vw;
    border-radius: 15px;
    height: 450px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__content.coffee{
    background-color: #bca29b;
}
.portfolio__content.derry{
    background-color: #120000;
}

.portfolio__img{
    width: 270px;
    height: 310px;
    border-radius: .5rem;
    justify-self: center;
    padding-right: 15px;
}


.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: 15px;
    color: #ffffff;
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
    color: #fff;
}

.portfolio__icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  10px 0px;
}

.portfolio__icons img{
    width: 55px;
    padding: 5px;
}

.portfolio__button{
    background-color: #96afffdc;
    color: rgb(255, 255, 255);
}

.portfolio__button:hover .button__icon {
    transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -.5rem;
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline: none;
}

.portfolio__page__button{
    margin-top: 50px;
}

/* PAGE PORTFOLIO */

.section__title2{
    margin-top: 80px;
}

.portfolio__content2{
    padding: 0 1.5rem;
    width: 23vw;
    border-radius: 15px;
    height: 580px;
    margin: 30px 20px;
    display: grid;
    grid-template-columns: 3, 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio__img2{
    width: 350px;
    height: 230px;
    /* position: relative;
    top: -30px; */
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__icons2{
    justify-content: center;
    align-items: center;
}


.portfolio__content2.coffee{
    /* background-color: #bca29b; */
    background-color: #ad9088;
}
.portfolio__button.coffee{
    background-color: #927c7b;
}
.portfolio__button.coffee:hover{
    background-color: #705d5b;
}

.portfolio__content2.derry{
    background-color: #120000;
}
.portfolio__button.derry{
    background-color: #b70000;
}
.portfolio__button.derry:hover{
    background-color: #760000;
}

.portfolio__content2.linktree{
    background-color: #331f7aee;
}
.portfolio__button.linktree{
    background-color: #6061C5;
}

