
/*==================== PORTFOLIO ====================*/

.swiper-wrapper{
    display: flex;
}

.portfolio__container{
    overflow: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio__content{
    padding: 0 1.5rem;
    width: 40vw;
    border-radius: 15px;
    height: 450px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__content.coffee{
    background-color: #ad9088;
}
.portfolio__content.derry{
    background-color: #120000;
}

.portfolio__img{
    width: 270px;
    height: 310px;
    border-radius: .5rem;
    justify-self: center;
    padding-right: 15px;
}


.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: 15px;
    color: #ffffff;
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
    color: #fff;
}

.portfolio__icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  10px 0px;
}

.portfolio__icons img{
    width: 55px;
    padding: 5px;
}

.portfolio__button{
    background-color: #96afffdc;
    color: rgb(255, 255, 255);
}

.portfolio__button:hover .button__icon {
    transform: translateX(.25rem);
}

.portfolio__page__button{
    margin-top: 50px;
}

/*=========== PAGE PORTFOLIO ===========*/

.section__title2{
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper2{
    display: grid;
    grid-template-columns: repeat(3, 33vw);

}

.portfolio__content2{
    padding: 0 1.5rem;
    width: 28vw;
    border-radius: 15px;
    height: 580px;
    margin: 20px 0px 0px 36px;
    display: grid;
    /* grid-template-columns: 1fr, 1fr; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio__img2{
    width: 350px;
    height: 230px;
    /* position: relative;
    top: -30px; */
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__img2.medium{
    display: none;
}

.portfolio__icons2{
    justify-content: center;
    align-items: center;
}



/* ======== COFFEE ======== */
.portfolio__content2.coffee{
    /* background-color: #bca29b; */
    background-color: #ad9088;
}
.portfolio__button.coffee{
    background-color: #d3a899;
}
.portfolio__button.coffee:hover{
    background-color: #a37f70;
    border-bottom: 3px solid rgba(0, 0, 0, 0.51);

}

/* ======== DERRY ======== */
.portfolio__content2.derry{
    background-color: #120000;
}
.portfolio__button.derry{
    background-color: #b70000;

}
.portfolio__button.derry:hover{
    background-color: #760000;
    border-bottom: 3px solid rgba(47, 47, 47, 0.798);
}

/* ======== LINKTREE ======== */
.portfolio__content2.linktree{
    background-color: #331f7aee;
}
.portfolio__button.linktree{
    background-color: #6061C5;

}
.portfolio__button.linktree:hover{
    background-color: #5152ba;
    border-bottom: 3px solid rgba(0, 0, 0, 0.798);
}

/* ======== GAME STORE ======== */
.portfolio__content2.gamestore{
    background-color: #161C4D;
}
.portfolio__button.gamestore{
    background-color: #0eb2cb;
}
.portfolio__button.gamestore:hover{
    background-color: #06869a;
    border-bottom: 3px solid rgba(142, 142, 142, 0.798);
}

/* ======== BARBER SHOP ======== */
.portfolio__content2.barbershop{
    background-color: #282222;
}
.portfolio__button.barbershop{
    background-color: #8F7557;

}
.portfolio__button.barbershop:hover{
    background-color: #6c573f;
    border-bottom: 3px solid rgba(121, 121, 121, 0.798);
}