
.skills__container{
    row-gap: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; */
    padding: 0px 450px;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title{
    font-size: var(--h3-font-size);
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.skills__img{
    max-width: 60px;
    max-height: 60px;
    margin: 0px 10px;
    transition: transform 0.5s;
}
.skills__img:hover{
    transform: scale(1.2);
}

.skills__titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: baseline;
    margin: .3rem; */
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    padding: 5px;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}
.skills__open {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

.skills__img.dark{
    display: none;
}